html, body, #root {
  margin: 0;
  padding: 0;
  background-image: url('../assets/hearts.jpg'); /* Adjust the path */
  background-size: cover;  /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-master {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content-div{
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-div{
  width: 50%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-left: 100%;
  transform: rotate(-90deg);
  color: #ffffff;
  font-size: 2rem;
  font-family: "Chewy", serif;
  text-shadow: 0 0 1rem #ff7300, 0 0 1rem #ff0000;
  white-space: nowrap; /* Prevents wrapping */
  display: inline-block; /* Ensures the text behaves like a single element */
  animation: floating 2s linear infinite;
}


/* Fix floating animation to keep rotation */
@keyframes floating {
  0% {
    transform: rotate(-90deg) translateY(0);
  }
  50% {
    transform: rotate(-90deg) translateY(0.5rem);
  }
  100% {
    transform: rotate(-90deg) translateY(0);
  }
}

.vday{
  font-size: 3rem;
  font-family: "Chewy", serif;
  color: #ff28c6;
  text-shadow: 0 0 1rem #ffffff;
  text-shadow: 0 0 1rem #ffffff;  
}

.welcome-dr-div{
  margin-right: 50%;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.welcome-dr-img{
  width: 400px;
  animation: pendulum 1.5s linear infinite;  
}

@keyframes pendulum {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
} 

.gene-div{
  margin-right: 50%;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.gene-img {
  width: 400px;
  animation: shake 0.05s linear infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.dr-love-div{
  margin-right: 50%;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.dr-love-img {
  width: 400px;
  filter: 
    drop-shadow(0 0 1rem #ff7300) /* Base orange glow */
    drop-shadow(0 0 2rem #ff0000) /* Red glow */
    drop-shadow(0 0 3rem #ffa200); /* White glow for extra depth */
  animation: spinning-pulse 3s linear infinite;
}

@keyframes spinning-pulse {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  50% {
    transform: rotate(180deg) scale(1.3);
  }
  100% {
    transform: rotate(360deg) scale(0.7);
  }
}


@media (min-width: 280px) and (max-width: 480px) {


}