.finger-button-one {
  background-color: inherit;
  border: none;
  padding: 15px 25px; /* Increased padding for easier tapping */
  border-radius: 50%;  /* Make button circular */
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation; /* Allow for smooth touch interaction */
}

.finger-one {
  font-size: 3rem;
  color: #e10000;
  cursor: pointer;
  animation: pulse-down 2s infinite;
  filter: drop-shadow(0 0 1rem #ffffff);
  transition: transform 0.2s ease, color 0.3s ease;
}

@keyframes pulse-down {
  0% {
    transform: rotate(180deg) scale(1);
    color: #e10000;
  }
  50% {
    transform: rotate(180deg) scale(1.1);
    color: #ffffff;
  }
  100% {
    transform: rotate(180deg) scale(1);
    color: #e10000;
  }
}

.finger-one:hover {
  color: #00b900;
  animation: pulse-down-green 2s infinite; 
  filter: drop-shadow(0 0 1.5rem #ffffff);
}

@keyframes pulse-down-green {
  0% {
    transform: rotate(180deg);
    color: #00b900;
  }
  50% {
    transform: rotate(180deg);
    color: #ffffff;
  }
  100% {
    transform: rotate(180deg);
    color: #00b900;
  }
}

/* Mobile-friendly Styles */
@media (min-width: 280px) and (max-width: 480px) {
  .finger-button-one {
    padding: 25px 35px; /* Make the button even bigger on mobile */
    font-size: 3.5rem; /* Increase font size for mobile screens */
  }

  .finger-one {
    font-size: 4rem; /* Larger icon on mobile */
  }
}

.finger-button-one-container {
  display: flex;
  flex-direction: c