.finger-button-two {
  background-color: inherit;
  border: none;
  padding: 15px 25px; /* Larger padding for easier tapping */
  border-radius: 50%;  /* Circular button for better aesthetics */
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation; /* Allow for smooth touch interaction */
}

.finger-two {
  font-size: 3rem;
  color: #e10000;
  cursor: pointer;
  animation: pulse 2s infinite;
  filter: drop-shadow(0 0 1rem #ffffff);
  transition: transform 0.2s ease, color 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    color: #e10000;
  }
  50% {
    transform: scale(1.1);
    color: #ffffff;
  }
  100% {
    transform: scale(1);
    color: #e10000;
  }
}

.finger-two:hover {
  color: #00b900;
  animation: pulse-green 2s infinite; 
  filter: drop-shadow(0 0 1.5rem #ffffff);
}

@keyframes pulse-green {
  0% {
    color: #00b900;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #00b900;
  }
}

/* Mobile-friendly Styles */
@media (min-width: 280px) and (max-width: 480px) {
  .finger-button-two {
    padding: 25px 35px; /* Make button larger for mobile touch */
    font-size: 3.5rem; /* Larger font size for mobile screens */
  }

  .finger-two {
    font-size: 4rem; /* Larger icon size on mobile */
  }
}

.finger-button-two-container {
  display: flex;
  flex-direction: column;
  align-it