.modal {
  width: 100vh; /* Use viewport height as width after rotation */
  height: 100vw; /* Use viewport width as height after rotation */
  transform: rotate(-90deg);
  transform-origin: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
  overflow: hidden;
}

/* Modal Overlay for Clicking Outside to Close */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color:#ff50b9; 
  padding: 5% 1%;
  border-radius: 20px;
  border: 15px solid #ff0c0c;
  font-family: "Chewy", serif;
  text-shadow: 0 0 1rem #ff7300, 0 0 1rem #ff0000;
  width: 55%;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 0.15s ease-in-out;
}

.modal-close-container{
  align-self: flex-end; 
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

.modal-assessment-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}

.close-modal{
  font-size: 1.5rem;
  margin-right: 5%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.25s;
}

.close-modal:hover{
  color: #ff9e9e;
  filter: drop-shadow(0 0 0.4rem #ff0000);
}

.login-title{
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Chewy", serif;
  text-shadow: 0 0 1rem #ff7300, 0 0 1rem #ff0000;
  font-size: 2rem;
  color: #ffffff;
  white-space: nowrap; /* Prevents wrapping */
}

.gengar{
  width: 50px;
  margin-right: 5%;
}

.kirby{
  width: 50px;
  margin-left: 5%;
}

/* Fade-in animation for modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
